<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adam's Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div> class="jumbotron"
            <h1>Adam's Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get New Data</a></p>
        </div>
        <div class="row" id="mars_news_title">
            <div class="col-md-12">
                <h3>Latest Mars Important News</h3>
                <h4>{{mars.mars_news_title}}</h4>
                <p>{{mars.mars_paragraph}}</p>
            </div>
        </div>
        <div class="row" id="mars_image">
            <div class="col-md-8">
                <h3>Featured Mars Image</h3>
                <img src="{{mars.mars_image}}" alt="Mars Image">
            </div>
            <div class="col-md-4">
                <h4>Current Mars Weather</h4>
                <p>{{mars.mars_weather}}</p>
                <br>
                <h4>Mars Facts</h4>
                <p>{{mars.mars_facts}}</p>
            </div>
        </div>
        <div class="row" id="mars_hemispheres">
            <div class="col-md-12">
                <h3><center>Mars Hemispheres</center></h3>
                {% for hemisphere in mars.mars_hemispheres %}
                    <div class="col-md-6">
                        <div class="thumbnail">
                                <h3>{{mars_hemispheres.title}}</h3>
                                <img src="{{mars_hemispheres.img_url" alt="Hemisphere">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>